body {
  width: 100vw;
  overflow-x: hidden !important;
  color: #4c4a4d;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.banner {
  font-weight: bold;
  font-family: "raleway";
  color: white;
}

.front-nav-scroll {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  z-index: 2;
}

.front-nav-scroll nav {
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  width: 100%;
}

.navbar .nav-cta {
  width: 150px;
  background: #57a5d5;
  font-weight: bold;
  border-radius: 0px;
}

.navbar .nav-cta .nav-link {
  color: white;
}

.navbar .navbar-collapse {
  text-transform: capitalize;
  font-family: "roboto";
}

.navbar .navbar-collapse ul {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-collapse ul li .nav-link {
  color: #4c4a4d;
}

/*
*=============
 Dropdowns
 *============
**/
.dropdown:hover ul {
  display: block;
}

.dropdown a.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown a.dropdown-toggle .text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dropdown a.dropdown-toggle::after {
  border: none;
}

.dropdown ul {
  border-radius: 0%;
  background-color: white;
  padding: 10px;
  min-width: 200px !important;
}

.dropdown ul li {
  border-bottom: solid 1px #efefef88;
  width: 100% !important;
}

.hero {
  background-color: rgba(0, 0, 0, 0.26);
  background-blend-mode: darken;
  background-size: cover;
  width: 100%;
  font-family: "poppins";
  display: block;
  padding-bottom: 0px !important;
}

.hero .animate__pulse {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hero nav .nav-link {
  color: white !important;
}

.hero .hero-content {
  width: 100%;
  min-height: 600px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.hero .hero-content .hero-text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-transform: capitalize;
}

.hero .hero-content .hero-text h1 .em {
  color: #f2a516;
}

.hero .hero-content .hero-text .all-caps {
  width: 80%;
  opacity: 0.87;
  font-family: "roboto";
  font-size: 14px;
}

.hero .hero-content .hero-text .hero-cta {
  background: #57a5d5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Poppins";
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 0px;
  font-size: large;
}

.hero-waves {
  padding: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.hero-waves .img {
  width: 100vw !important;
  margin-bottom: 0;
}

.contact-wrapper {
  background-color: #47244e;
}

.contact {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .form {
  width: 40%;
  min-width: 320px;
  padding: 30px;
}

.contact .form h3 {
  color: #9a2fb0;
}

.contact .form form {
  width: 100%;
}

.contact .form form .dropdown-toggle {
  width: 100%;
}

.contact .form form .input-wrapper {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px grey;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}

.contact .form form .input-wrapper .form-control {
  border-radius: 0%;
  border: none;
}

.contact .form form .input-wrapper .form-control:focus {
  outline: none !important;
  border: none;
  -webkit-box-shadow: 3rem 2rem 1rem transparent;
          box-shadow: 3rem 2rem 1rem transparent;
}

.contact .form form .input-wrapper .icon {
  opacity: 0.5;
  font-size: 18px;
  padding: 2px;
  color: #47244e;
}

.contact .form form .allow-focus {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}

.contact .form form .allow-focus .dropdown-toggle .text {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  width: 80%;
  overflow-x: hidden;
}

.contact .form form .allow-focus .dropdown-toggle::after {
  display: none !important;
}

.contact .form form .allow-focus .dropdown-menu {
  width: 100% !important;
  padding: 20px;
  color: #47244e;
}

.contact .form form .allow-focus .dropdown-menu .input-check label {
  width: 100%;
}

.contact .form form .allow-focus .dropdown-menu .input-check label input {
  background-color: #57a5d5 !important;
  color: white !important;
  border: solid 1px #47244e;
  border-radius: 0px;
}

.contact .form form .submit {
  margin-top: 37px;
  padding: 10px;
  background-color: #f2a516;
  font-weight: bold;
  color: #47244e;
}

.contact .form form .submit::after {
  content: "";
}

.contact .text {
  width: 50%;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .text .text-lg {
  font-size: 42px;
  font-weight: normal;
  color: white;
  font-family: "raleway";
  line-height: 110%;
}

.contact .text .text-lg .phone {
  font-size: 24px;
}

.contact .text .text-lg ul {
  font-size: 24px;
  font-family: montserrat;
}

.contact .text .text-lg ul li::before {
  margin-right: 10px;
  content: "\2713";
  color: #f2a516;
  font-weight: bolder;
}

.contact .text .text-lg .em-text {
  color: #f2a516;
}

.contact .text .text-lg .phone {
  font-family: poppins;
}

.contact .text .footer {
  color: white;
  padding-top: 10px;
}

.contact .text .footer p {
  font-size: 14px;
}

.contact .text .footer .socials {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .text .footer .socials img {
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact .text .footer .socials img:hover {
  opacity: 1;
}

.after-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  background-color: #fdf0ff28;
}

.after-hero .text {
  min-width: 300px;
}

.after-hero .text .pep {
  width: 70%;
}

.after-hero .text .pep h2 {
  font-family: "poppins";
  font-size: 24px;
}

.after-hero .text .pep p {
  font-family: "montserrat";
}

.after-hero .text .buttons {
  width: 50%;
  margin: auto;
  min-width: 320px;
}

.after-hero .cards {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.after-hero .cards .card {
  width: 320px;
  border-radius: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.after-hero .cards .card .title {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.after-hero .cards .card .title .card-title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "poppins";
}

.after-hero .cards .card .title .card-title i {
  color: #f2a516;
  font-size: 24px;
  margin-right: 10px;
}

.after-hero .cards .card .para p {
  font-family: "montserrat";
  font-size: 14px;
  margin-bottom: 20px;
}

.after-hero .cards .card .em {
  color: #47244e;
}

.after-hero .cards .card .list {
  font-size: 14px;
  font-family: montserrat;
}

.after-hero .cards .card .list li::before {
  margin-right: 10px;
  content: "\2713";
  color: #f2a516;
  font-weight: bolder;
  border-radius: 50%;
  position: relative;
}

.after-hero .cards .card .btn {
  border-radius: 3%;
  width: 100%;
}

@media (min-width: 767px) {
  .hero .hero-content {
    padding-left: 100px;
    padding-right: 100px;
  }
  .hero .hero-text {
    width: 60%;
  }
  .navbar-collapse {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 60%;
  }
}

@media (max-width: 767px) {
  .hero .hero-text {
    width: 90%;
  }
  .navbar .navbar-collapse {
    background-color: #47244e;
    max-width: 100%;
    min-width: 100%;
  }
  .navbar .navbar-collapse ul {
    padding: 0px !important;
    width: 100%;
    min-width: 100%;
  }
  .navbar .navbar-collapse ul li {
    width: 100%;
    border: solid 1px #efefef4d;
  }
  .navbar .navbar-collapse ul li .nav-link {
    color: white;
    width: 100%;
  }
  .navbar .navbar-collapse .nav-cta {
    width: 100%;
    border-radius: 0%;
    font-size: 14px !important;
  }
  .hero {
    margin-bottom: 30px;
  }
  .hero .hero-content {
    min-height: 400px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero .hero-content h1 {
    font-size: 24px;
  }
  .hero .hero-content .all-caps {
    font-size: 10px;
  }
  .after-hero {
    width: 100vw;
  }
  .after-hero .buttons {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .after-hero .pep {
    width: 90% !important;
    margin: auto;
  }
  .contact {
    width: 100% !important;
  }
  .contact .form {
    min-width: 100% !important;
    width: 100%;
    padding: 10px;
  }
  .contact .text {
    width: 100%;
    min-width: 100% !important;
  }
}

.bg-info {
  background-color: #47244e !important;
}

.all-caps {
  text-transform: uppercase;
}

.em {
  color: #f2a516;
}

h3 {
  font-family: "poppins";
}

p {
  font-family: "montserrat";
  opacity: 0.9;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 160px;
  border-radius: 0%;
}
/*# sourceMappingURL=main.css.map */