body {
  width: 100vw;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.banner {
  background-color: #F2A516;
  color: white;
}

.front-nav-scroll {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  z-index: 2;
}

.front-nav-scroll nav {
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  width: 100%;
}

.navbar .nav-cta {
  width: 150px;
  background: #57A5D5;
  font-weight: bold;
  border-radius: 37px;
}

.navbar .nav-cta .nav-link {
  color: white;
}

.navbar .navbar-collapse {
  text-transform: capitalize;
  font-family: 'roboto';
}

.navbar .navbar-collapse ul {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-collapse ul li .nav-link {
  color: #4C4A4D;
}

/*
*=============
 Dropdowns
 *============
**/
.dropdown:hover ul {
  display: block;
}

.dropdown a.dropdown-toggle::after {
  border: none;
}

.dropdown ul {
  border-radius: 0%;
  background-color: white;
  padding: 10px;
  min-width: 200px !important;
}

.dropdown ul li {
  border-bottom: solid 1px #efefef88;
  width: 100% !important;
}

.hero {
  background-color: rgba(0, 0, 0, 0.548);
  background-attachment: fixed;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  font-family: 'poppins';
  display: block;
  padding-bottom: 0px !important;
}

.hero .animate__pulse {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hero nav .nav-link {
  color: white !important;
}

.hero .hero-content {
  width: 100%;
  min-height: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-content .hero-text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.hero .hero-content .hero-text h1 .em {
  color: #F2A516;
}

.hero .hero-content .hero-text .all-caps {
  width: 80%;
  opacity: 0.87;
  font-family: 'roboto';
  font-size: 14px;
}

.hero .hero-content .hero-text .hero-cta {
  background: #57A5D5;
  font-family: 'Poppins';
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 37px;
  font-size: large;
}

.hero-waves {
  padding: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.hero-waves .img {
  width: 100vw !important;
  margin-bottom: 0;
}

.after-hero {
  background-color: #FEF9FF;
  padding: 2px;
  margin-top: -10px;
  color: #4C4A4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.after-hero .text {
  width: 60%;
  min-width: 350px;
}

.after-hero .text h2 {
  text-transform: capitalize;
}

.after-hero .text .em {
  font-family: 'poppins';
}

.after-hero .text p {
  font-size: 14px;
  font-family: 'Montserrat';
}

.belt {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.belt .belt-card {
  width: 310px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.belt .belt-card .icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.belt .belt-card .em {
  font-size: 20px;
}

.belt .belt-card p {
  font-size: 14px;
  font-family: 'Montserrat';
}

.contact-us {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-us .form {
  min-width: 320px;
  width: 50%;
}

.contact-us .form form {
  width: 310px;
  background-color: #8D13A5;
  color: white;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us .form form .flex {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us .form form .flex > input {
  margin-right: 10px;
}

.contact-us .form form .form-control {
  background-color: #FEF9FF;
}

.contact-us .form form .submit {
  color: white;
  background: #F2A516;
  border-radius: 37px;
  font-weight: bolder;
}

.contact-us .links {
  width: 50%;
  height: 100%;
  min-width: 320px;
}

.contact-us .links .features ul {
  width: 70%;
}

.contact-us .links .features ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us .links .features ul li i {
  font-size: 24px;
  color: #57A5D5;
}

.contact-us .links .features ul li div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.contact-us .links .features ul li .text {
  font-weight: bold;
  font-family: 'poppins';
}

.contact-us .links .platforms {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.for-creators {
  width: 60%;
  min-width: 350px;
  margin: auto;
}

.for-creators .svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}

.for-creators .text h2 {
  font-family: 'poppins';
  text-transform: capitalize;
  color: #4C4A4D;
}

.for-creators .text p {
  font-family: 'Montserrat';
  font-size: 14px;
}

.for-creators .text .buttons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 400px;
  margin: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.for-creators .text .buttons .btn {
  /* product box cta */
  margin: 10px;
  background: #57A5D5;
  border-radius: 37px;
  font-family: 'Montserrat';
  font-style: normal;
  min-width: 40%;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.for-creators .text .buttons .btn .nav-link {
  color: #FFFFFF;
}

@media (min-width: 767px) {
  .hero .hero-text {
    width: 60%;
  }
  .navbar-collapse {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 60%;
  }
}

@media (max-width: 767px) {
  .hero .hero-text {
    width: 90%;
  }
  .navbar .navbar-collapse {
    background-color: #3F126F;
    max-width: 100%;
    min-width: 100%;
  }
  .navbar .navbar-collapse ul {
    padding: 0px !important;
    width: 100%;
    min-width: 100%;
  }
  .navbar .navbar-collapse ul li {
    width: 100%;
    border: solid 1px #efefef4d;
  }
  .navbar .navbar-collapse ul li .nav-link {
    color: white;
    width: 100%;
  }
  .navbar .navbar-collapse .nav-cta {
    width: 100%;
    border-radius: 0%;
    font-size: 14px !important;
  }
  .hero {
    margin-bottom: 30px;
  }
  .hero .hero-content {
    min-height: 400px;
  }
  .hero .hero-content h1 {
    font-size: 24px;
  }
  .hero .hero-content .all-caps {
    font-size: 10px;
  }
  .links {
    width: 90% !important;
  }
  .links .features ul {
    width: 100% !important;
  }
  .for-creators .buttons {
    width: 100%;
    display: block;
  }
  .for-creators .buttons button {
    width: 100%;
  }
}

.all-caps {
  text-transform: uppercase;
}

.em {
  color: #F2A516;
}
/*# sourceMappingURL=main.css.map */