$text-color: #4c4a4d;
$theme-color1: #47244e;
$buttons-color1: #57a5d5;
$em-color: #6CE5E8;
$jumbotron-color:#6ce6e834;
$footer-color:#2F2E41;
html {
  scroll-behavior: smooth;
}
.page-header-text{
  width: 60%;
  min-width: 320px;
}
body {
  width: 100vw !important;
  overflow-x: hidden;
  background-color: white !important;
  // color: $text-color;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.menu-overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 3;
  top: 0;
  display: none;
}
.banner {
  font-weight: bold;
  font-family: "montserrat";
  color: white;
}
.front-nav-scroll {
  opacity: 0;
  transition: 1s;
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  z-index: 2;
  nav {
    width: 100%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
  max-width: 100vw;
  .nav-cta {
    width: 150px;
    background: $buttons-color1;
    font-weight: bold;
    border-radius: 0px;
    .nav-link {
      color: white;
    }
  }
  .menu-opener{
    display: none;
  }
  .navbar-collapse {
    text-transform:capitalize;
    font-family: 'nunito sans';
    .close{
      display: none;
    }
    ul {
      width: 100%;
      justify-content: space-between;
      li {
        .nav-link {
          color: $text-color;
        }
      }
    }
  }
}

.navbar-collapse.show{
  width: 300px !important;
}
/*
*=============
 Dropdowns
 *============
**/
.show-submenu{
  ul{
  display: block !important ;
  opacity: 1 !important;
  pointer-events: all !important;
}
}
.dropdown {
  a.dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      width: fit-content;
    }
    &::after {
      border: none;
    }
  }
}
.dropdown ul.show{
  display: block !important;
  opacity: 1 !important;
  margin-top:2px !important;
  pointer-events: all !important;
}
.show-submenu{
  ul{
    display: block !important;
    opacity: 1;
  }
}
.dropdown-submenu{
  i{
    transform: rotateZ(-90deg);
  }
}
.dropdown{ 
  color: $buttons-color1 !important;
  width: fit-content;
  ul {
    border: none;
    transition: 1s;
    position: relative;
  border-radius: 0%;
  background-color: white;
  padding: 10px;
  min-width: 200px !important;
  width: fit-content !important;
  &::before{
    content: '';
    border-bottom: solid 10px white;
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    border-top: solid 10px transparent;
    position: absolute;
    top: 0px;
    margin-top: -18px;
    left: 50%;
    transform: translateX(-50%);
  }
  li {
    font-family: poppins;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
  }
}
}
// frontpage
.hero {
  //background: linear-gradient(270deg, $theme-color1  0%, rgba(250, 0, 239, 0.9) 100%);
  background-color: rgba(0, 0, 0, 0.26);
  background-blend-mode: darken;
  background-size: cover;
  width: 100%;
  font-family: "poppins";
  display: block;
  padding-bottom: 0px !important;
  .animate__pulse {
    animation-duration: 1s;
  }
  nav {
    .nav-link {
      color: white !important;
    }
  }
  .hero-content {
    width: 100%;
    min-height: 550px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    .hero-text {
      color: white !important;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: start;
      text-transform: capitalize;
      h1 {
          color: white !important;
        .em {
          color: $em-color;
        }
      }
      .all-caps {
        width: 80%;
        opacity: 0.87;
        font-family: "poppins";
        font-size: 14px;
      }
      .hero-cta {
        background: $em-color;
        width: fit-content;
        font-family: "Poppins";
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        color: $text-color;
        border-radius: 0px;
        font-size: large;
      }
    }
  }
}
.hero-waves {
  padding: 0px;
  height: fit-content;
  width: 100%;
  .img {
    width: 100vw !important;
    margin-bottom: 0;
  }
}
.contact-wrapper {
  padding: 20px;
}
.form{
  min-width: 320px;
  max-width: 450px;
  padding: 30px;
  h3 {
    color: $buttons-color1;
  }
  form {
    width: 100%;
    .input-wrapper {
      width: 100% !important;
      display: flex;
      background-color: white;
      justify-content: space-between;
      align-items: center; 
      border: solid 0.3px rgba(128, 128, 128, 0.26);
      .form-control {
        border-radius: 0%;
        width: 100%;
        border: none;
        &:focus {
          outline: none !important;
          border: none;
          box-shadow: 3rem 2rem 1rem transparent;
        }
      }
    
      .icon {
        opacity: 0.5;
        font-size: 18px;
        padding: 2px;
        color: $theme-color1;
        display: none;
      }
    }
    .allow-focus {
      width: 100% !important;
      .dropdown-toggle {
        width: 100%;
        .contact-dropdown-text{
          width: 100%;
          overflow-x: hidden;
          text-align: start;
        }
        &::after {
          display: none !important;
        }
      }
      .dropdown-menu {
        width: 100% !important;
        padding: 20px;
        color: $theme-color1;
        .input-check {
          label {
            width: 100%;
            input {
              background-color: $buttons-color1 !important;
              color: white !important;
              border: solid 1px $theme-color1;
              border-radius: 0px;
            }
          }
        }
      }
    }
    .submit {
      margin-top: 37px;
      padding: 10px;
      background-color: $buttons-color1;
      font-weight: bold;
      color: white;
      width: 80%;
      &::after {
        content: "";
      }
    }
  }
}
.contact {
  justify-content: center;
  flex-wrap: wrap;
  .form {
    flex-grow: 1;
    // border-radius: 37px;
    // background-color: $buttons-color1;
  }
  .text {
    width: 50%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .text-lg {
      font-size: 36px;
      font-weight: normal;
      color: black;
      font-family: "poppins";
      line-height: 110%;
      .phone {
        font-size: 24px;
      }
      ul {
        font-size: 24px;
        font-family: 'nunito sans';
        li {
          &::before {
            margin-right: 10px;
            content: "\2713";
            color: $em-color;
            font-weight: bolder;
          }
        }
      }
      .em-text {
        color: black;
      }
      .phone {
        font-family: 'poppins';
      }
    }
    .footer {
      color: black;
      padding-top: 10px;
      p {
        font-size: 14px;
      }
      .socials {
        flex-wrap: wrap;
        img {
          opacity: 0.9;
          transition: 0.5s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
.after-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  padding-top: 50px;
  background-color: white;
  .text {
    min-width: 300px;
    .pep{ 
    width: 90%;
    h2 {
      font-family: "poppins";
      font-size: 30px;
    }
    p {
      font-family: "nunito sans";
    }
}
    .buttons {
        width: 60%;
        min-width: 320px;
        margin: auto;
      }
  }
  .cards {
      flex-wrap: wrap;
      justify-content: center;
    .card {
      width: 300px;
      border-radius: 0%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: fit-content;
        .card-title {
          height: fit-content;
          font-size: 18px;
          text-transform: capitalize;
          i {
            color: $em-color;
            font-size: 24px;
            margin-right: 10px;
          }
          font-family: "poppins";
        }
       
      }
      .para {
        p {
          font-family: "montserrat";
          font-size: 14px;
          margin-bottom: 20px;
        }
      }
      .em{
          color: $theme-color1;
      }
      .list {
        font-size: 14px;
        font-family: 'montserrat';
       
        li {
          &::before {
            margin-right: 10px;
            content: "\2713";
            color: $em-color;
            font-weight: bolder;
            border-radius: 50%;
            position: relative;
          }
        }
      } 
      .btn{
          border-radius: 3%;
          width: 100%;
      }
    }
  }
}

.process{
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .image{
    width: 50%;
    min-height: 320px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.26);
    background-blend-mode: darken;
    min-width: 320px;
  }
  .text{
    width: 50%;
    min-width: 320px;
    padding: 50px;
    h3{
      font-family: 'poppins';
    }
    p{
      width: 100%;
    }
    .btn{
     margin: auto;
    }
  }
}
.mission{
  h3{
    color: $theme-color1;
  }
}
.home-catalogue{
  flex-wrap: wrap;
}
// 
// 
// BLOG PAGE
// 
// 
.blog-header{
  h1{
    width: 70%;
    min-width:300px;
    font-size: 24px;
    font-family: poppins;
  }
  .cats{
  display: flex;
  flex-wrap: wrap;
  .badge{
  margin: 2px;
  }
  }
}
.all-cards{
  width: 90%;
  flex-wrap: wrap;
  .blog-card{
    min-width: 320px;
    &:hover{
      img{
        transform: scale(1.05);
      }
    }
    &:first-child{
    display: none;
    }
    }
}
.blog-card{
  flex-wrap: wrap;
  max-width: 350px;
  margin: 20px;
  img{
    transition: 0.5s;
    min-width: 300px;
  }
  .date{
    font-size: 16px;
  }
  .categories{
    width: 100%;
    .post-categories{
        display: flex !important;
    a{
   color: $buttons-color1;
   width: fit-content !important;
    }
   }
  }
  .card-title{
    font-family: 'poppins';
    font-size: 24px;
    color: black;
  }
  .perma{
    font-size: 14px;
    width: 100%;
    .nav-link{
      padding: 0%;
    i{
      transition: 0.5s;
    }
    &:hover{
      i{
        margin-left:10px;
      }
    }
  }
}
}
.latest-container{
  width: 90%;
}
.latest-card{
  width: 100%;
  display: flex;
  max-width: none;
  // background-color:$theme-body-color;
  padding: 10px;
  .image{
    min-width: 320px;
    width: 50%;
    img{
      width: 100%;
    }
  }
  .text{
    width: 50%;
    min-width: 320px;
    padding: 20px;
  }
}
// single post page
.single-header{
  width: 100%;
  .share-mobile{
    width: 100px;
    justify-content: space-between;
  }
  .categories{
width: 100%;
justify-content: left;
ul{
display: flex;
  flex-wrap: wrap;
  .badge{
  color: white !important;
}
}
}
.post-meta{
  opacity: 0.7 !important;
  font-family: 'montserrat';
  font-weight: bolder !important;
}
h1{
  font-size: 40px;
  font-family: 'poppins';
}
}
.single-page-content-wrapper{
  justify-content: space-between;
  position: relative;
  height: fit-content;
  .share{
    padding-top:70px !important;
    height: fit-content;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    i{
      font-size: 30px;
    }
  }



  .blog-post{
    min-width: 320px;
    display: block;
    a{
      color: $buttons-color1;
      font-weight: bold;
    }
    img:first-child(){
      min-width: 80% !important;
      margin: auto;
    }
    h3{
     margin-top: 30px;
     margin-bottom:30px;
    }
    p{
      font-size: 18px !important;
      opacity: 0.7;
    }
  }




  .sidebar{
    position: relative;
    .sticky-top{
      z-index: 1;
      padding-top:70px;
    }
    div{
      width: 100%;
    }
    input,textarea{
      color: black !important;
    }
    .card{
     width: 100%;
    }
}
// site origin widgets
.so-widget-sow-cta{
  .sow-cta-base{
  background-color: $buttons-color1 !important;
  color: white;
  font-family: 'poppins' !important;
  .ow-button-base a{
    .sow-icon-image{
    display: none;
   }
    background: $em-color !important;
    border: none;
    color: white !important;
  }
}
}
.wp-block-latest-posts{
  li{
    font-family: 'nunito sans';
    a{
    font-size: 24px;
    color: black !important;
    font-weight: bold;
    font-family: 'poppins';
  }
    line-height: 120%;
  }
}
  .sm-none{
      background-color: white;
      min-width: 400px;
      max-width: 410px;
  }
}
.author-card{
  display: flex;
  justify-content: center;
  width: fit-content;
  flex-wrap: wrap;
  align-items: center;
  
  i{
    font-size: 24px;
  }
  b{
    font-size: 24px;
  }
  .text{
    width: 300px;
    .bio{
      font-size: 14px !important;
    }
  }
  .avatar{
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}
.sidebar-card{
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $buttons-color1;
  color: white;
  ul{
    opacity: 0.9;
    font-family: 'montserrat';
    li{
      &::before{
        content: '\2713';
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
  h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'poppins';
    line-height: normal !important;
  }
  .side-cta{
    border:solid 3px $em-color !important;
    margin: auto !important;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-family: 'poppins' !important;
  }
}
.site-footer{
  background-color: $footer-color;
  min-height: 350px;
  height: fit-content;
  display: flex;
  padding-top: 50px;
  .footer-links{
    color: white;
    height: fit-content;
    justify-content: space-around;
    flex-wrap: wrap;
    a{
      color: white;
    }
    .socials{
      width: fit-content;
     width:40%;
     min-width:320px;
      p{
        font-family: 'Nunito sans';
      }
      li{
        font-family: 'poppins';
      }
    }
    .fast-links{
      width: 50%;
      min-width: 320px;
      flex-wrap: wrap;
      strong{
        font-family: poppins;
      }
      ul{
        font-family: 'Nunito Sans';
      }
      .sm-col{
        width: 25%;
      }
      .lg-col{
        width: 40%;
      }
    }
  }
}
.process-cards{
  flex-wrap: wrap;
  min-width: 320px;
  justify-content: center;
  .process-card{
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 2px;
    .number{
      font-size: 64px;
      font-family: 'raleway';
      color: $em-color;
    }
    .title{
      font-family: 'poppins';
    }
  }
}
.copyright{
margin-top: 0px;
margin-bottom: 0px;
background-color: $footer-color;
color: white;
}





// media queries
// big screens
// ipad
@media (min-width: 768px) {
  .lg-none{
    display: none;
  }
}
@media (min-width: 767px) {
  // framework
  // main
  .navbar .shadow-lg{
    box-shadow: 20rem 30rem 40rem transparent !important;
    .dropdown-submenu{
      .dropdown-menu-right{
        top: 0;
        right: -115%;
        &::before{
          display: none !important;
        }
      }
    }
    .dropdown:not(.dropdown-submenu){
      & > ul{
        transform: translateX(-25%);
      }
    }
  }
  .hero {
    .hero-content {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  .hero .hero-text {
    width: 60%;
  }
  .navbar-collapse {
    width: fit-content;
    max-width: 60%;
    .dropdown{
      position: relative;
    ul {
      display: block;
      opacity: 0;
      pointer-events: none;
      transition: 0.2s !important;
    }
  &:hover {
   & > ul{
    opacity: 1;
    margin-top: -2px;
    pointer-events: all;
  }
}
  }
  }
}
.clientele-hero{
  padding-top:0px;
  padding-bottom:0px;
  h1{
    color: $buttons-color1;
  }
}
.about-hero,.clientele-hero{
  align-items: center;
  justify-content: center;
  div{
    margin: 10px;
  }
  h1{
    font-family: 'poppins';
    font-size: 24px;
  }
  .text{
    width: 50%;
    min-width: 320px;
    button{
      width: 50%;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .image{
    width: 50%;
    min-width: 320px;
  }
}
// small screens
// ipad
@media (max-width: 768px) {
  .container{
    width: 100% !important;
  }
  .sidebar .sticky-top{
    position: relative !important;
    z-index: 0 !important;
  }
  .sm-none{
    display: none !important;
  }
  .form{
    margin: auto !important;
  }
  // single blog posts
.share{
  display: none !important;
}
}
// small screens
@media (max-width: 767px) {
  .about-hero,.clientele-hero{
    flex-wrap: wrap;
    &:first-child{
      flex-wrap: wrap-reverse !important;
    }
  }
  // framework
  .menu-overlay.open{
    display: block !important;
  }
  // main
  .container{
    width: 100% !important;
  }
  .hero .hero-text {
    width: 90%;
  }
  .navbar {
    .menu-opener{
      display: block !important;
    }
    .navbar-collapse {
      display: flex !important;
      flex-direction: column;
      justify-content: space-between !important;
      background-color: $buttons-color1;
      width: 98%;
      height: 100vh;
      position: fixed;
      padding:60px 10px 10px 10px;
      font-size: 18px;
      font-weight: bold;
      font-family: poppins;
      transition: 0.2s;
      top: 0;
      left: -150%;
      &.open{
        left: 0px !important;
      }
      z-index: 3;
      .close{
        position: absolute;
        display: block !important;
        top: 20px;
        left: 20px;
        color: white;
        font-size: 24px;
        font-weight: lighter !important;
        opacity: 1 !important;
      }
      .dropdown{
        ul{
          width: 70%;
          margin: auto;
        }
      }
      ul {
        padding: 0px !important;
        width: 100%;
        li {
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
          .nav-link {
            color: white !important;
            width: 100%;
          }
        }
      }
      .dropdown ul{
        display: none;
        &::before{
          border: none;
        }
      }
      .nav-cta{
        border-radius: 0%;
        font-size: 14px !important;
        background-color: transparent;
        border: solid 1px white ;
        &:hover{
          background-color: $buttons-color1;
        }
      }
    }
  }
  .hero {
    margin-bottom: 30px;
    .hero-content {
      min-height: 400px;
      padding-left: 20px;
      padding-right: 20px;
      h1 {
        font-size: 24px;
      }
      .all-caps {
        font-size: 10px;
      }
    }
  }
 .after-hero{
     width: 100vw;
     padding-top: 50px;
     .buttons{
         width: 100%;
         flex-wrap: wrap;
     }
     .pep{
       width: 90% !important;
       margin: auto;
     }
     .cards{
       .card{
         margin: auto;
       }
     }
 }
  .contact {
    width: 100% !important;
    .form {
      min-width: 100% !important;
      width: 100%;
      margin: auto;
      padding: 10px;
    }
    .text {
      margin: auto;
      width: 100%;
      min-width: 100% !important;
      .socials{
        width: 100%;
        img{
          max-width: 100px;
        }
      }
    }
  }
  .services{
    .card{
      margin-left: 0px !important;
      margin-right: 0px !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
// blog page
.latest-container{
.latest-card{
  width: 100% !important;
  padding: 0%;
  .image{
    width: 100%;
    padding: 0%;
  }
  .text{
    width: 100%;
    padding: 0%;
  }
}
}
.blog-card{
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.all-cards{
  width: 100%;
  width: auto;
  .blog-card{
    max-width: none;
    width: 90%;
   
  }
}
}
//
// framework
//
.services-w-b{
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbotron{
  // color: white;
  font-family: 'poppins';
  background-color: white;
  margin-bottom: 0px;
  .text{
    width: 70%;
    min-width: 320px;
    margin: auto;
    .flex{
      flex-wrap: wrap;
    }
  }
  &.jumbotron-em{
  background-color: $jumbotron-color;
    }
      h4{
    font-size: 18px;
    opacity: 0.8;
  }
  .socials{
    font-size: 36px;
  }
}
.badge-primary{
  background-color: $em-color !important;
}
.dropdown-menu.show{
  display: block !important;
}
.all-caps {
  text-transform: uppercase;
  font-family: "nunito sans";
}
.em {
  color: $em-color;
}
a{
  &:hover{
    text-decoration: none !important;
  }
}
h1,h2{
  font-family: 'poppins';
}

h3 {
  font-family: "montserrat";
  font-size: 24px;
  font-weight: bolder;
}
p {
  font-family: 'PT Serif', serif;;
  opacity: 0.9;
}
.big-button-dark{
  background-color: $buttons-color1;
  color: white;
 min-width: 200px !important;
  font-weight: bold;
  font-size: 18px;
}
.container-fluid{
  width: 100%;
}
 .btn {
      width: fit-content;
      min-width: 160px;
      border-radius: 0%;
    }
 @keyframes loading{
   from{
     opacity: 0.5;
   }
   to{
     opacity: 0.8;
   }
 }
    .alert-success{
      display: none;
    }
    .alert-danger{
      display: none;
    }
    .loader{
      display: none;
    }
    .nunito{
      font-family: 'nunito sans' !important;
    }
    .top-btn{
      background-color: white !important;
      color: $buttons-color1 !important;
      width: 50px !important;
      height: 50px !important;
      border-radius: 50% !important;
      position: fixed !important;
      bottom: 50px !important;
      font-size: 30px !important;
      right: 50px !important;
      display: none !important;
      justify-content: center !important;
      align-items: center !important;
    }
    // hide recaptcha badge
    .grecaptcha-badge { 
      visibility: hidden;
  }