$text-color: #4c4a4d;
$theme-color1: #47244e;
$theme-color2: #fa00ef;
$buttons-color1: #57a5d5;
$theme-body-color: #fcf5fd;
$em-color: #f2a516;
body {
  width: 100vw !important;
  overflow-x: hidden;
  // color: $text-color;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.banner {
  font-weight: bold;
  font-family: "montserrat";
  color: white;
}
.front-nav-scroll {
  opacity: 0;
  transition: 1s;
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  z-index: 2;
  nav {
    width: 100%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
  max-width: 100vw;
  .nav-cta {
    width: 150px;
    background: $buttons-color1;
    font-weight: bold;
    border-radius: 0px;
    .nav-link {
      color: white;
    }
  }
  .navbar-collapse {
    text-transform: capitalize;
    font-family: 'nunito sans';
    ul {
      width: 100%;
      justify-content: space-between;
      li {
        .nav-link {
          color: $text-color;
        }
      }
    }
  }
}

/*
*=============
 Dropdowns
 *============
**/
.dropdown {
  a.dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      width: fit-content;
    }
    &::after {
      border: none;
    }
  }
}
.dropdown{ 
  position: relative;
  color: $buttons-color1 !important;
  ul {
    border: none;
    transition: 1s;
    position: relative;
  border-radius: 0%;
  background-color: white;
  padding: 10px;
  min-width: 200px !important;
  &::before{
    content: '';
    border-bottom: solid 10px white;
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    border-top: solid 10px transparent;
    position: absolute;
    top: 0px;
    margin-top: -18px;
    left: 50%;
    transform: translateX(-50%);
  }
  li {
    font-family: poppins;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
  }
}
}
// frontpage
.hero {
  //background: linear-gradient(270deg, $theme-color1  0%, rgba(250, 0, 239, 0.9) 100%);
  background-color: rgba(0, 0, 0, 0.26);
  background-blend-mode: darken;
  background-size: cover;
  width: 100%;
  font-family: "poppins";
  display: block;
  padding-bottom: 0px !important;
  .animate__pulse {
    animation-duration: 1s;
  }
  nav {
    .nav-link {
      color: white !important;
    }
  }
  .hero-content {
    width: 100%;
    min-height: 600px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    .hero-text {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: start;
      text-transform: capitalize;
      h1 {
        .em {
          color: $em-color;
        }
      }
      .all-caps {
        width: 80%;
        opacity: 0.87;
        font-family: "poppins";
        font-size: 14px;
      }
      .hero-cta {
        background: #57a5d5;
        width: fit-content;
        font-family: "Poppins";
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        border-radius: 0px;
        font-size: large;
      }
    }
  }
}
.hero-waves {
  padding: 0px;
  height: fit-content;
  width: 100%;
  .img {
    width: 100vw !important;
    margin-bottom: 0;
  }
}
.contact-wrapper {
  background-color: $buttons-color1;
  padding: 20px;
}
.contact {
  justify-content: space-between;
  flex-wrap: wrap;
  .form {
    width: 40%;
    min-width: 320px;
    padding: 30px;
    h3 {
      color: #9a2fb0;
    }
    form {
      width: 100%;
      .dropdown-toggle {
        width: 100%;
      }
      .input-wrapper {
        width: 100%;
        align-items: center;
        border-bottom: solid 1px grey;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 20px;
        .form-control {
          border-radius: 0%;
          border: none;
          &:focus {
            outline: none !important;
            border: none;
            box-shadow: 3rem 2rem 1rem transparent;
          }
        }
        .icon {
          opacity: 0.5;
          font-size: 18px;
          padding: 2px;
          color: $theme-color1;
        }
      }
      .allow-focus {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 20px;
        .dropdown-toggle {
          .text {
            position: relative;
            width: fit-content;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
            width: 80%;
            overflow-x: hidden;
          }
          &::after {
            display: none !important;
          }
        }
        .dropdown-menu {
          width: 100% !important;
          padding: 20px;
          color: $theme-color1;
          .input-check {
            label {
              width: 100%;
              input {
                background-color: $buttons-color1 !important;
                color: white !important;
                border: solid 1px $theme-color1;
                border-radius: 0px;
              }
            }
          }
        }
      }
      .submit {
        margin-top: 37px;
        padding: 10px;
        background-color: $em-color;
        font-weight: bold;
        color: $theme-color1;
        &::after {
          content: "";
        }
      }
    }
  }
  .text {
    width: 50%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .text-lg {
      font-size: 42px;
      font-weight: normal;
      color: white;
      font-family: "poppins";
      line-height: 110%;
      .phone {
        font-size: 24px;
      }
      ul {
        font-size: 24px;
        font-family: 'nunito sans';
        li {
          &::before {
            margin-right: 10px;
            content: "\2713";
            color: white;
            font-weight: bolder;
          }
        }
      }
      .em-text {
        color: white;
      }
      .phone {
        font-family: 'poppins';
      }
    }
    .footer {
      color: white;
      padding-top: 10px;
      p {
        font-size: 14px;
      }
      .socials {
        flex-wrap: wrap;
        img {
          opacity: 0.8;
          transition: 0.5s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
.after-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: -30px;
  padding-top: 50px;
  background-color: white;
  .text {
    min-width: 300px;
    .pep{ 
    width: 90%;
    h2 {
      font-family: "poppins";
      font-size: 30px;
    }
    p {
      font-family: "nunito sans";
    }
}
    .buttons {
        width: 60%;
        min-width: 320px;
        margin: auto;
      }
  }
  .cards {
      flex-wrap: wrap;
      justify-content: center;
    .card {
      width: 320px;
      border-radius: 0%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: fit-content;
        .card-title {
          height: fit-content;
          font-size: 18px;
          text-transform: capitalize;
          i {
            color: $em-color;
            font-size: 24px;
            margin-right: 10px;
          }
          font-family: "poppins";
        }
       
      }
      .para {
        p {
          font-family: "montserrat";
          font-size: 14px;
          margin-bottom: 20px;
        }
      }
      .em{
          color: $theme-color1;
      }
      .list {
        font-size: 14px;
        font-family: 'montserrat';
        li {
          &::before {
            margin-right: 10px;
            content: "\2713";
            color: $em-color;
            font-weight: bolder;
            border-radius: 50%;
            position: relative;
          }
        }
      } 
      .btn{
          border-radius: 3%;
          width: 100%;
      }
    }
  }
}

.process{
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  .image{
    width: 50%;
    min-height: 320px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.26);
    background-blend-mode: darken;
    min-width: 320px;
  }
  .text{
    width: 50%;
    min-width: 320px;
    padding: 50px;
    h3{
      font-family: 'poppins';
    }
    .btn{
     margin: auto;
    }
  }
}
.mission{
  background-color: $theme-body-color;
  h3{
    color: $theme-color1;
  }
}
// 
// 
// BLOG PAGE
// 
// 
.blog-header{
  h1{
    width: 70%;
    min-width:300px;
    font-size: 24px;
    font-family: poppins;
  }
  .cats{
  display: flex;
  flex-wrap: wrap;
  }
}
.all-cards{
  width: 90%;
  flex-wrap: wrap;
  .blog-card{
    min-width: 320px;
    &:hover{
      img{
        transform: scale(1.05);
      }
    }
    &:first-child{
    display: none;
    }
    }
}
.blog-card{
  flex-wrap: wrap;
  max-width: 350px;
  margin: 20px;
  
  img{
    transition: 0.5s;
  }
  .date{
    font-size: 16px;
  }
  .categories{
    width: 100%;
    .post-categories{
        display: flex !important;
    a{
   color: $buttons-color1;
   width: fit-content !important;
    }
   }
  }
  .card-title{
    font-family: 'poppins';
    font-size: 24px;
    color: black;
  }
  .perma{
    font-size: 14px;
    width: 100%;
    .nav-link{
      padding: 0%;
    i{
      transition: 0.5s;
    }
    &:hover{
      i{
        margin-left:10px;
      }
    }
  }
}
}
.latest-container{
  width: 90%;
}
.latest-card{
  width: 100%;
  display: flex;
  max-width: none;
  // background-color:$theme-body-color;
  padding: 10px;
  .image{
    min-width: 320px;
    width: 50%;
    img{
      width: 100%;
    }
  }
  .text{
    width: 50%;
    min-width: 320px;
    padding: 20px;
  }
}
// single post page
.single-header{
  width: 100%;
  .categories{
width: 100%;
justify-content: left;
ul{
display: flex;
  flex-wrap: wrap;
  .badge{
  color: white !important;
}
}
}
.post-meta{
  opacity: 0.7 !important;
  font-family: 'montserrat';
  font-weight: bolder !important;
}
h1{
  font-size: 40px;
  font-family: 'poppins';
}
}
.single-page-content-wrapper{
  justify-content: space-between;
  position: relative;
  height: fit-content;
  .share{
    padding-top:70px !important;
    height: fit-content;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    i{
      font-size: 30px;
    }
  }
  .blog-post{
    min-width: 320px;
    display: block;
    h3{
     line-height: 300%;
    }
    p{
      font-size: 18px !important;
      opacity: 0.7;
    }
  }
  .sidebar{
    position: relative;
    .sticky-top{
      z-index: 1;
      padding-top:70px;
    }
    div{
      width: 100%;
    }
    input,textarea{
      color: black !important;
    }
    .card{
     width: 100%;
    }
}
// site origin widgets
.so-widget-sow-cta{
  .sow-cta-base{
  background-color: $buttons-color1 !important;
  color: white;
  font-family: 'poppins' !important;
  .ow-button-base a{
    .sow-icon-image{
    display: none;
   }
    background: $em-color !important;
    border: none;
    color: white !important;
  }
}
}
.wp-block-latest-posts{
  li{
    font-family: 'nunito sans';
    a{
    font-size: 24px;
    color: black !important;
    font-weight: bold;
    font-family: 'poppins';
  }
    line-height: 120%;
  }
}
  .sm-none{
      background-color: white;
      min-width: 400px;
      max-width: 410px;
  }
}
.author-card{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  b{
    font-size: 24px;
  }
  img{
    border-radius: 50%;
    border: solid 3px $buttons-color1;
  }
}
// media queries
// big screens
// ipad
@media (min-width: 768px) {
  .lg-none{
    display: none;
  }
}
@media (min-width: 767px) {
  // framework
  // main
  .hero {
    .hero-content {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  .hero .hero-text {
    width: 60%;
  }
  .navbar-collapse {
    width: fit-content;
    max-width: 60%;
    .dropdown{
    ul {
      display: block;
      opacity: 0;
      pointer-events: none;
      transition: 0.2s !important;
    }
  &:hover {
   ul{
    opacity: 1;
    margin-top: -2px;
    pointer-events: all;
  }
}
  }
  }
}
// small screens
// ipad
@media (max-width: 768px) {
  .sm-none{
    display: none !important;
  }
  // single blog posts
.share{
  display: none !important;
}
}
@media (max-width: 767px) {
  // framework
  // main
  .container{
    width: 100% !important;
  }
  .hero .hero-text {
    width: 90%;
  }
  .navbar {
    .navbar-collapse {
      background-color: $theme-color1;
      max-width: 100%;
      min-width: 100%;
      ul {
        padding: 0px !important;
        width: 100%;
        li {
          width: 100%;
          border: solid 1px #efefef4d;
          .nav-link {
            color: white;
            width: 100%;
          }
        }
      }
      .dropdown ul{
        display: none;
        &::before{
          border: none;
        }
      }
      .nav-cta {
        width: 100%;
        border-radius: 0%;
        font-size: 14px !important;
      }
    }
  }
  .hero {
    margin-bottom: 30px;
    .hero-content {
      min-height: 400px;
      padding-left: 20px;
      padding-right: 20px;
      h1 {
        font-size: 24px;
      }
      .all-caps {
        font-size: 10px;
      }
    }
  }
 .after-hero{
     width: 100vw;
     padding-top: 50px;
     .buttons{
         width: 100%;
         flex-wrap: wrap;
     }
     .pep{
       width: 90% !important;
       margin: auto;
     }
     .cards{
       .card{
         margin: auto;
       }
     }
 }
  .contact {
    width: 100% !important;
    .form {
      min-width: 100% !important;
      width: 100%;
      padding: 10px;
    }
    .text {
      width: 100%;
      min-width: 100% !important;
    }
  }
  .services{
    .card{
      margin-left: 0px !important;
      margin-right: 0px !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
// blog page
.latest-container{
.latest-card{
  width: 100% !important;
  padding: 0%;
  .image{
    width: 100%;
    padding: 0%;
  }
  .text{
    width: 100%;
    padding: 0%;
  }
}
}
.blog-card{
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.all-cards{
  width: 100%;
  width: auto;
  .blog-card{
    max-width: none;
    width: 90%;
   
  }
}
}
//
// framework
//
.dropdown-menu.show{
  display: block !important;
}
.all-caps {
  text-transform: uppercase;
  font-family: "nunito sans";
}
.em {
  color: $em-color;
}
h3 {
  font-family: "montserrat";
  font-size: 24px;
  font-weight: bolder;
}
p {
  font-family: 'PT Serif', serif;;
  opacity: 0.9;
}
.container-fluid{
  width: 100%;
}
 .btn {
      width: fit-content;
      min-width: 160px;
      border-radius: 0%;
    }