body {
  width: 100vw !important;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menu-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 3;
  top: 0;
  display: none;
}

.banner {
  font-weight: bold;
  font-family: "montserrat";
  color: white;
}

.front-nav-scroll {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  z-index: 2;
}

.front-nav-scroll nav {
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  width: 100%;
  max-width: 100vw;
}

.navbar .nav-cta {
  width: 150px;
  background: #57a5d5;
  font-weight: bold;
  border-radius: 0px;
}

.navbar .nav-cta .nav-link {
  color: white;
}

.navbar .menu-opener {
  display: none;
}

.navbar .navbar-collapse {
  text-transform: capitalize;
  font-family: 'nunito sans';
}

.navbar .navbar-collapse .close {
  display: none;
}

.navbar .navbar-collapse ul {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-collapse ul li .nav-link {
  color: #4c4a4d;
}

.navbar-collapse.show {
  width: 300px !important;
}

/*
*=============
 Dropdowns
 *============
**/
.show-submenu ul {
  display: block !important;
  opacity: 1 !important;
  pointer-events: all !important;
}

.dropdown a.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown a.dropdown-toggle .text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dropdown a.dropdown-toggle::after {
  border: none;
}

.dropdown ul.show {
  display: block !important;
  opacity: 1 !important;
  margin-top: 2px !important;
  pointer-events: all !important;
}

.show-submenu ul {
  display: block !important;
  opacity: 1;
}

.dropdown-submenu i {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.dropdown {
  color: #57a5d5 !important;
}

.dropdown ul {
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  border-radius: 0%;
  background-color: white;
  padding: 10px;
  min-width: 200px !important;
}

.dropdown ul::before {
  content: '';
  border-bottom: solid 10px white;
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  border-top: solid 10px transparent;
  position: absolute;
  top: 0px;
  margin-top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dropdown ul li {
  font-family: poppins;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.hero {
  background-color: rgba(0, 0, 0, 0.26);
  background-blend-mode: darken;
  background-size: cover;
  width: 100%;
  font-family: "poppins";
  display: block;
  padding-bottom: 0px !important;
}

.hero .animate__pulse {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hero nav .nav-link {
  color: white !important;
}

.hero .hero-content {
  width: 100%;
  min-height: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.hero .hero-content .hero-text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-transform: capitalize;
}

.hero .hero-content .hero-text h1 .em {
  color: #6CE5E8;
}

.hero .hero-content .hero-text .all-caps {
  width: 80%;
  opacity: 0.87;
  font-family: "poppins";
  font-size: 14px;
}

.hero .hero-content .hero-text .hero-cta {
  background: #6CE5E8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Poppins";
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: #4c4a4d;
  border-radius: 0px;
  font-size: large;
}

.hero-waves {
  padding: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.hero-waves .img {
  width: 100vw !important;
  margin-bottom: 0;
}

.contact-wrapper {
  padding: 20px;
}

.contact {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .form {
  width: 350px;
  overflow-x: hidden;
  background-color: #57a5d5;
  padding: 30px;
}

.contact .form h3 {
  color: white;
}

.contact .form form {
  width: 100%;
}

.contact .form form .input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px grey;
  overflow-x: hidden;
}

.contact .form form .input-wrapper .form-control {
  border-radius: 0%;
  width: 80%;
  border: none;
}

.contact .form form .input-wrapper .form-control:focus {
  outline: none !important;
  border: none;
  -webkit-box-shadow: 3rem 2rem 1rem transparent;
          box-shadow: 3rem 2rem 1rem transparent;
}

.contact .form form .input-wrapper .icon {
  opacity: 0.5;
  font-size: 18px;
  padding: 2px;
  color: #47244e;
  display: none;
}

.contact .form form .allow-focus .dropdown-toggle {
  padding-right: 20px !important;
}

.contact .form form .allow-focus .dropdown-toggle .contact-dropdown-text {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.contact .form form .allow-focus .dropdown-toggle::after {
  display: none !important;
}

.contact .form form .allow-focus .dropdown-menu {
  width: 100% !important;
  padding: 20px;
  color: #47244e;
}

.contact .form form .allow-focus .dropdown-menu .input-check label {
  width: 100%;
}

.contact .form form .allow-focus .dropdown-menu .input-check label input {
  background-color: #57a5d5 !important;
  color: white !important;
  border: solid 1px #47244e;
  border-radius: 0px;
}

.contact .form form .submit {
  margin-top: 37px;
  padding: 10px;
  background-color: #6CE5E8;
  font-weight: bold;
  color: white;
}

.contact .form form .submit::after {
  content: "";
}

.contact .text {
  width: 50%;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .text .text-lg {
  font-size: 36px;
  font-weight: normal;
  color: black;
  font-family: "poppins";
  line-height: 110%;
}

.contact .text .text-lg .phone {
  font-size: 24px;
}

.contact .text .text-lg ul {
  font-size: 24px;
  font-family: 'nunito sans';
}

.contact .text .text-lg ul li::before {
  margin-right: 10px;
  content: "\2713";
  color: black;
  font-weight: bolder;
}

.contact .text .text-lg .em-text {
  color: black;
}

.contact .text .text-lg .phone {
  font-family: 'poppins';
}

.contact .text .footer {
  color: black;
  padding-top: 10px;
}

.contact .text .footer p {
  font-size: 14px;
}

.contact .text .footer .socials {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .text .footer .socials img {
  opacity: 0.9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact .text .footer .socials img:hover {
  opacity: 1;
}

.after-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -20px;
  padding-top: 50px;
  background-color: white;
}

.after-hero .text {
  min-width: 300px;
}

.after-hero .text .pep {
  width: 90%;
}

.after-hero .text .pep h2 {
  font-family: "poppins";
  font-size: 30px;
}

.after-hero .text .pep p {
  font-family: "nunito sans";
}

.after-hero .text .buttons {
  width: 60%;
  min-width: 320px;
  margin: auto;
}

.after-hero .cards {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.after-hero .cards .card {
  width: 300px;
  border-radius: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.after-hero .cards .card .title {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.after-hero .cards .card .title .card-title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "poppins";
}

.after-hero .cards .card .title .card-title i {
  color: #6CE5E8;
  font-size: 24px;
  margin-right: 10px;
}

.after-hero .cards .card .para p {
  font-family: "montserrat";
  font-size: 14px;
  margin-bottom: 20px;
}

.after-hero .cards .card .em {
  color: #47244e;
}

.after-hero .cards .card .list {
  font-size: 14px;
  font-family: 'montserrat';
}

.after-hero .cards .card .list li::before {
  margin-right: 10px;
  content: "\2713";
  color: #6CE5E8;
  font-weight: bolder;
  border-radius: 50%;
  position: relative;
}

.after-hero .cards .card .btn {
  border-radius: 3%;
  width: 100%;
}

.process {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.process .image {
  width: 50%;
  min-height: 320px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.26);
  background-blend-mode: darken;
  min-width: 320px;
}

.process .text {
  width: 50%;
  min-width: 320px;
  padding: 50px;
}

.process .text h3 {
  font-family: 'poppins';
}

.process .text p {
  width: 100%;
}

.process .text .btn {
  margin: auto;
}

.mission h3 {
  color: #47244e;
}

.home-catalogue {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-header h1 {
  width: 70%;
  min-width: 300px;
  font-size: 24px;
  font-family: poppins;
}

.blog-header .cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.all-cards {
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.all-cards .blog-card {
  min-width: 320px;
}

.all-cards .blog-card:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.all-cards .blog-card:first-child {
  display: none;
}

.blog-card {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 350px;
  margin: 20px;
}

.blog-card img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-width: 300px;
}

.blog-card .date {
  font-size: 16px;
}

.blog-card .categories {
  width: 100%;
}

.blog-card .categories .post-categories {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.blog-card .categories .post-categories a {
  color: #57a5d5;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.blog-card .card-title {
  font-family: 'poppins';
  font-size: 24px;
  color: black;
}

.blog-card .perma {
  font-size: 14px;
  width: 100%;
}

.blog-card .perma .nav-link {
  padding: 0%;
}

.blog-card .perma .nav-link i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog-card .perma .nav-link:hover i {
  margin-left: 10px;
}

.latest-container {
  width: 90%;
}

.latest-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  padding: 10px;
}

.latest-card .image {
  min-width: 320px;
  width: 50%;
}

.latest-card .image img {
  width: 100%;
}

.latest-card .text {
  width: 50%;
  min-width: 320px;
  padding: 20px;
}

.single-header {
  width: 100%;
}

.single-header .categories {
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.single-header .categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.single-header .categories ul .badge {
  color: white !important;
}

.single-header .post-meta {
  opacity: 0.7 !important;
  font-family: 'montserrat';
  font-weight: bolder !important;
}

.single-header h1 {
  font-size: 40px;
  font-family: 'poppins';
}

.single-page-content-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.single-page-content-wrapper .share {
  padding-top: 70px !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-page-content-wrapper .share i {
  font-size: 30px;
}

.single-page-content-wrapper .blog-post {
  min-width: 320px;
  display: block;
}

.single-page-content-wrapper .blog-post img {
  min-width: 100%;
}

.single-page-content-wrapper .blog-post h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.single-page-content-wrapper .blog-post p {
  font-size: 18px !important;
  opacity: 0.7;
}

.single-page-content-wrapper .sidebar {
  position: relative;
}

.single-page-content-wrapper .sidebar .sticky-top {
  z-index: 1;
  padding-top: 70px;
}

.single-page-content-wrapper .sidebar div {
  width: 100%;
}

.single-page-content-wrapper .sidebar input, .single-page-content-wrapper .sidebar textarea {
  color: black !important;
}

.single-page-content-wrapper .sidebar .card {
  width: 100%;
}

.single-page-content-wrapper .so-widget-sow-cta .sow-cta-base {
  background-color: #57a5d5 !important;
  color: white;
  font-family: 'poppins' !important;
}

.single-page-content-wrapper .so-widget-sow-cta .sow-cta-base .ow-button-base a {
  background: #6CE5E8 !important;
  border: none;
  color: white !important;
}

.single-page-content-wrapper .so-widget-sow-cta .sow-cta-base .ow-button-base a .sow-icon-image {
  display: none;
}

.single-page-content-wrapper .wp-block-latest-posts li {
  font-family: 'nunito sans';
  line-height: 120%;
}

.single-page-content-wrapper .wp-block-latest-posts li a {
  font-size: 24px;
  color: black !important;
  font-weight: bold;
  font-family: 'poppins';
}

.single-page-content-wrapper .sm-none {
  background-color: white;
  min-width: 400px;
  max-width: 410px;
}

.author-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author-card i {
  font-size: 24px;
}

.author-card b {
  font-size: 24px;
}

.author-card .text {
  width: 300px;
}

.author-card .text .bio {
  font-size: 14px !important;
}

.author-card .avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.sidebar-card {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #57a5d5;
  color: white;
}

.sidebar-card ul {
  opacity: 0.9;
  font-family: 'montserrat';
}

.sidebar-card ul li::before {
  content: '\2713';
  font-weight: bold;
  margin-right: 10px;
}

.sidebar-card h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'poppins';
  line-height: normal !important;
}

.sidebar-card .side-cta {
  border: solid 3px #6CE5E8 !important;
  margin: auto !important;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: 'poppins' !important;
}

@media (min-width: 768px) {
  .lg-none {
    display: none;
  }
}

@media (min-width: 767px) {
  .navbar .shadow-lg {
    -webkit-box-shadow: 20rem 30rem 40rem transparent !important;
            box-shadow: 20rem 30rem 40rem transparent !important;
  }
  .navbar .shadow-lg .dropdown-submenu .dropdown-menu-right {
    top: 0;
    right: -115%;
  }
  .navbar .shadow-lg .dropdown-submenu .dropdown-menu-right::before {
    display: none !important;
  }
  .navbar .shadow-lg .dropdown:not(.dropdown-submenu) > ul {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  .hero .hero-content {
    padding-left: 100px;
    padding-right: 100px;
  }
  .hero .hero-text {
    width: 60%;
  }
  .navbar-collapse {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 60%;
  }
  .navbar-collapse .dropdown {
    position: relative;
  }
  .navbar-collapse .dropdown ul {
    display: block;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.2s !important;
    transition: 0.2s !important;
  }
  .navbar-collapse .dropdown:hover > ul {
    opacity: 1;
    margin-top: -2px;
    pointer-events: all;
  }
}

@media (max-width: 768px) {
  .sidebar .sticky-top {
    position: relative !important;
    z-index: unset !important;
  }
  .sm-none {
    display: none !important;
  }
  .form {
    margin: auto !important;
  }
  .share {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .menu-overlay.open {
    display: block !important;
  }
  .container {
    width: 100% !important;
  }
  .hero .hero-text {
    width: 90%;
  }
  .navbar .menu-opener {
    display: block !important;
  }
  .navbar .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    background-color: #57a5d5;
    width: 98%;
    height: 100vh;
    position: fixed;
    padding: 60px 10px 10px 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: poppins;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    top: 0;
    left: -100%;
    z-index: 3;
  }
  .navbar .navbar-collapse.open {
    left: 0px !important;
  }
  .navbar .navbar-collapse .close {
    position: absolute;
    display: block !important;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    font-weight: lighter !important;
    opacity: 1 !important;
  }
  .navbar .navbar-collapse .dropdown ul {
    width: 70%;
    margin: auto;
  }
  .navbar .navbar-collapse ul {
    padding: 0px !important;
    width: 100%;
  }
  .navbar .navbar-collapse ul li {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar .navbar-collapse ul li .nav-link {
    color: white !important;
    width: 100%;
  }
  .navbar .navbar-collapse .dropdown ul {
    display: none;
  }
  .navbar .navbar-collapse .dropdown ul::before {
    border: none;
  }
  .navbar .navbar-collapse .nav-cta {
    border-radius: 0%;
    font-size: 14px !important;
    background-color: transparent;
    border: solid 1px white;
  }
  .navbar .navbar-collapse .nav-cta:hover {
    background-color: #57a5d5;
  }
  .hero {
    margin-bottom: 30px;
  }
  .hero .hero-content {
    min-height: 400px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero .hero-content h1 {
    font-size: 24px;
  }
  .hero .hero-content .all-caps {
    font-size: 10px;
  }
  .after-hero {
    width: 100vw;
    padding-top: 50px;
  }
  .after-hero .buttons {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .after-hero .pep {
    width: 90% !important;
    margin: auto;
  }
  .after-hero .cards .card {
    margin: auto;
  }
  .contact {
    width: 100% !important;
  }
  .contact .form {
    min-width: 100% !important;
    width: 100%;
    margin: auto;
    padding: 10px;
  }
  .contact .text {
    margin: auto;
    width: 100%;
    min-width: 100% !important;
  }
  .contact .text .socials {
    width: 100%;
  }
  .contact .text .socials img {
    max-width: 100px;
  }
  .services .card {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .latest-container .latest-card {
    width: 100% !important;
    padding: 0%;
  }
  .latest-container .latest-card .image {
    width: 100%;
    padding: 0%;
  }
  .latest-container .latest-card .text {
    width: 100%;
    padding: 0%;
  }
  .blog-card {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .all-cards {
    width: 100%;
    width: auto;
  }
  .all-cards .blog-card {
    max-width: none;
    width: 90%;
  }
}

.jumbotron {
  font-family: 'poppins';
  background-color: white;
}

.jumbotron.jumbotron-em {
  background-color: #6ce6e834;
}

.jumbotron h4 {
  font-size: 18px;
  opacity: 0.8;
}

.jumbotron .socials {
  font-size: 36px;
}

.badge-primary {
  background-color: #6CE5E8 !important;
}

.dropdown-menu.show {
  display: block !important;
}

.all-caps {
  text-transform: uppercase;
  font-family: "nunito sans";
}

.em {
  color: #6CE5E8;
}

a:hover {
  text-decoration: none !important;
}

h3 {
  font-family: "montserrat";
  font-size: 24px;
  font-weight: bolder;
}

p {
  font-family: 'PT Serif', serif;
  opacity: 0.9;
}

.container-fluid {
  width: 100%;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 160px;
  border-radius: 0%;
}

@-webkit-keyframes loading {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes loading {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.8;
  }
}

.alert-success {
  display: none;
}

.alert-danger {
  display: none;
}

.loader {
  display: none;
}
/*# sourceMappingURL=main.css.map */